/*
*
*		Description: Used to style the TinyMCE editor. Import all template.css file
*
*/


@import url(template.css);

body {
background : #fff;
width:auto;
min-width:0;
margin: 10px 15px 10px 25px;
}